html, 
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial,"sans-serif";
}

body {
	margin-left: auto;
	margin-right: auto;
	background-color: #F0F2F0;
}

#schedule table {
    width: 100%;
    border: 1px solid #012611;
    border-collapse: collapse;
    color: #000;
}

#schedule table tr {
    border: 1px solid #012611;
}

#schedule table tr td {
    border: 1px solid #012611;   
}

#schedule table tr th {
    border: 1px solid #012611;
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 3px;
}

#schedule {
    float: left;
    width: 100%;
}

#timeline {
    overflow-x: scroll;
}

#timeline td {
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#timeline .activated {
    background-color: #6FBF36;
}

#timeline .select {
    background-color: #225945;
}

.col-25 {
    float: left;
    background-color: #34735C;
    width: 25%;
}

.col-75 {
    float: left;
    background-color: #34735C;
    width: 75%;
}
