html, 
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial,"sans-serif";
}

body {
	margin-left: auto;
	margin-right: auto;
	background-color: #c9c9c9;
}

#schedule table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}

#schedule table tr {
    border: 1px solid #000;
}

#schedule table tr td {
    border: 1px solid #000;   
}

#schedule table tr th {
    border: 1px solid #000;
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 3px;
}

#schedule {
    float: left;
    width: 100%;
}

#timeline {
    overflow-x: scroll;
}

#timeline td {
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#timeline .activated {
    background-color: crimson;
}

.col-25 {
    float: left;
    background-color: cornflowerblue;
    width: 25%;
}

.col-75 {
    float: left;
    background-color: rgb(124, 124, 124);
    width: 75%;
}
